button{
    height: 5vh;
}

.dropdown{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    border-radius: 5px;
    align-self: center;
}

.dropdown .options {
    position: absolute;
    top: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
}

.dropdown .options.visible{
    opacity: 1;
    visibility: visible;
}

.dropdown .filter,
.dropdown .options button {
    display: flex;
    flex-direction: column;
    text-align: start;
    border: 0px;
    border-radius: 5px;
    padding: 1.5vh 1vw;
    background-color: hsl(0, 0%, 100%);
    transition: background-color 0.05s ease;
    cursor: pointer;
    font-weight: 300;
}

.dropdown .filter{
    height: 6vh;
    width: 15vw;
    font-size: 14px;
    border: 0px;
    border-radius: 5px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: -2px 1px 15px lightgray;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 300;
    margin-bottom: 0.5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dropdown .options button:hover {
    background-color: hsl(0, 0%, 95%);
}

.dropdown .filter:hover{
    background-color: hsl(0, 0%, 95%);
}