.root{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.upperWrapper{
    width: 100%;
    height: 7vh;
}

.lowerWrapper{
    width: 100%;
    height: 93vh;
}

[data-theme='true'] {
    color: white;   
    background-color: #202d36;
}

[data-theme='false'] {
    background-color: white;
    color: #242424;
}